

# this is the "requirements.txt" file...


requests

plotly

# ImportError: Plotly express requires pandas to be installed.
pandas

python-dotenv

Flask

# TEST

pytest

#production server needs this to run website
gunicorn
